<!-- User Profile Section Start -->
<div class="row  rounded-2 tweet-card text-center align-items-center">
<div class="col-12">
  <div class="profile-cover">
    <%= @user.cover_image %>
  </div>
  <h4 class="title">User Profile</h4>
</div>
  <div class="col-12 col-md-3">
    <div class="profile-img">
      <%= gravatar_tag @user.email, size: 400, html: {class: "img-fluid border"} %>
    </div>
  </div>
  <div class="col-12 col-md-9 text-start">
    <h2 class="my-2 d-flex gap-2">
      <%= @user.username %>
      <%= render 'follow_buttons', user: @user %>
    </h2>
    <h6 class="my-2">
      Name: <%= @user.first_name %> <%= @user.last_name %>
    </h6>
    <h6 class="my-2">
      Email: <a href="mailto:<%= @user.email %>"><%= @user.email %></a>
    </h6>
    <h6 class="my-2">Sex:  <%= @user.gender %></h6>
    <h6 class="my-2">Age: <%= @user.age %> </h6>
    <h6 class="my-2">Birthday: <%= @user.birthday %></h6>
    <h6 class="my-2">Relationship <%= @user.relationship %></h6>
    <h6 class="my-2">
      Address: <br/>
      <%= @user.address %> <%= @user.city %> <br/>
      <%= @user.zip %> <%= @user.state %> <br/>
      <%= @user.country %>
    </h6>
    <h6 class="my-2">Occupation: <%= @user.work %></h6>
    <h6 class="my-2">Previous Jobs: <%= @user.previous_jobs %></h6>
    <h6 class="my-2">Education: <%= @user.education %></h6>
    <h6 class="my-2">Previous Education: <%= @user.previous_education %></h6>
    <h6 class="my-2">Phone: <%= @user.phone %></h6>
  </div>

  <div class="col-12 ranking mt-2">
    <hr class="divider">
    <h6 class="profile-rating my-2">RANKINGS : <span>8/10</span></h6>
    <h6 class="profile-rating my-2">MEMBER SINCE : <span><%= current_user.created_at.strftime("%B %Y") %></span></h6>
    <!--<h6 class="profile-rating">LAST SEEN : <span><%#= current_user.last_sign_in_at.strftime("%B %Y") %></span></h6>-->
    <h6 class="profile-rating">
      <%= link_to "followers", followers_user_path(@user.username) %>: <%= @user.followers.count %>
    </h6>
    <h6 class="profile-rating">
      <%= link_to "following", following_user_path(@user.username) %>: <%= @user.following.count %>
    </h6>
  </div>
</div>

<div class="row my-4">
  <h4 class="text-center">Gabble</h4>
  <div class="tweets-container tweet-card">
    <% if user_signed_in? && current_user == @user %>
      <%= render 'tweets/form' %>
    <% end %>
    <%= render @tweets %>
  </div>
</div>

<div class="row my-4 text-dark">
  <!-- Profile Visitors List -->
  <div class="col-12">
    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-visitors-tab" data-bs-toggle="pill" data-bs-target="#pills-visitors" type="button" role="tab" aria-controls="pills-visitors" aria-selected="true">About me</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-following-tab" data-bs-toggle="pill" data-bs-target="#pills-following" type="button" role="tab" aria-controls="pills-following" aria-selected="false">Following</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-followers-tab" data-bs-toggle="pill" data-bs-target="#pills-followers" type="button" role="tab" aria-controls="pills-followers" aria-selected="false">Followers</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-activity-tab" data-bs-toggle="pill" data-bs-target="#pills-activity" type="button" role="tab" aria-controls="pills-activity" aria-selected="false">Activity</button>
    </ul>
  </div>
  <div class="col-12 rounded-2 tweet-card">
    <!-- Tabs Content -->
    <div class="tab-content  p-0" id="pills-tabContent">
      <div class="col-12 activity-card tab-pane fade show active p-3" id="pills-visitors" role="tabpanel" aria-labelledby="pills-visitors-tab" tabindex="0">
        <!-- User Profile Visitors Dummy List-->
        <div class="profile-work d-flex flex-wrap justify-content-start gap-2 text-start">
         <!-- display all the users -->
          <h3 class="display-5"><%= @user.username %>, <span class="h4"><%= @user.bio %></span></h3>
        </div>
      </div>
      <div class="col-12 activity-card tab-pane fade" id="pills-following" role="tabpanel" aria-labelledby="pills-following-tab" tabindex="0">
        <div class="profile-work d-flex flex-wrap justify-content-start gap-2 text-center py-3">
          <% if @user.following.length < 1 %>
            <h3 class="text-center"><%= @user.username %> follows nobody yet!</h3>
          <% else %>
            <% @user.following.each do |user| %>
              <div class="card m-auto p-2">
                <div class="card-image mb-2">
                  <%= gravatar_tag user.email,  html: {class: "rounded-4"} %>
                </div>
                <a href=""> <%= link_to user.username, user_path(user.username) %></a>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-12 activity-card tab-pane fade" id="pills-followers" role="tabpanel" aria-labelledby="pills-followers-tab" tabindex="0">
        <div class="profile-work d-flex flex-wrap justify-content-start gap-2 text-center py-3">
          <% if @user.followers.length < 1 %>
              <h3 class="text-center"><%= @user.username %> has no followers yet!</h3>
          <% else %>
            <% @user.followers.each do |user| %>
              <div class="card m-auto p-2">
                <div class="card-image mb-2">
                  <%= gravatar_tag user.email,  html: {class: "rounded-4"} %>
                </div>
                <a href=""> <%= link_to user.username, user_path(user.username) %></a>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-12 activity-card tab-pane fade" id="pills-activity" role="tabpanel" aria-labelledby="pills-activity-tab" tabindex="0">

        <div class="profile-work d-flex flex-wrap justify-content-start gap-2 text-center py-3">
          <% if @activities.length < 1 %>
            <h3 class="text-center">
              <%= @user.username %> has no activity yet!
            </h3>
          <% else %>
            <ul class="list-group list-group-flush">
              <%= render_activities(@activities) %>
            </ul>
          <% end %>
        </div>
      </div>
  </div>
</div>
</div>




<!-- User Profile Section End -->