<% if activity.trackable %>
  <li class="list-group-item">
    <%= link_to activity.owner.username do %>
      <%= gravatar_tag activity.owner.email, size: 25, html: {class: "img-fluid border rounded", title: activity.owner.username } %>
    <% end %>
    commented on a gable of
    <%= link_to  activity.recipient.username do %>
      <%= gravatar_tag activity.recipient.email, size: 25, html: {class: "img-fluid border rounded", title: activity.recipient.username} %>
    <% end %>
    <span class="text-muted"><%= time_ago_in_words(activity.created_at) %> ago</span>
  </li>
<% end %>