<nav class="navbar container navbar-expand-lg">
  <%= link_to  root_path do %>
    <div class="navbar-brand">
      <%= image_tag("logo-light.svg", alt: "logo", class: "img-fluid w-75", title:"Gabble Logo") %>
    </div>
  <% end %>
  <button id="theme-toggle" class="btn">
    <i class="fas fa-moon"></i>
    <i class="fas fa-sun d-none"></i>
  </button>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
          aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a id="navbarDropdown" class="nav-link dropdown-menu-right" href="#" role="button" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
            <%= gravatar_tag current_user.email, size: 40, html: {class: "rounded-circle"} %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to user_path(current_user.username) , class: "dropdown-item d-flex align-items-center gap-2" do %>
              <i class="fa-regular fa-address-card"></i>
              <%= current_user.username.upcase %>'s Profile
            <% end %>
            <%= link_to edit_user_registration_path, class: "dropdown-item d-flex align-items-center gap-2" do %>
              <i class="fa-solid fa-gear"></i>
              Settings
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item d-flex align-items-center gap-2" do %>
              <i class="fa-solid fa-right-from-bracket"></i>
              Sign Out
            <% end %>
          </div>
        </li>

        <li class="nav-item">
          <!-- font awesome wall icon -->
          <%= link_to root_path, class: "nav-link" do %>
            <i class="fa-solid fa-comments me-2"></i>
            The Lounge
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to gabblers_path, class: "nav-link" do %>
          <i class="fa-solid fa-users me-2"></i>
          Gabblers
          <% end %>
        </li>
        <%= render "layouts/notifications" %>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link  d-flex align-items-center gap-2" do %>
            <i class="fa-solid fa-sign-in me-2"></i>
            Sign In
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: "nav-link  d-flex align-items-center gap-2" do %>
            <i class="fa-solid fa-user-plus me-2"></i>
            Sign Up
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
