<nav class="navbar container navbar-expand-lg">
  <%= link_to  root_path do %>
    <div class="navbar-brand">
      <%= image_tag("logo-light.svg", alt: "logo", class: "img-fluid w-75", title:"Gabble Logo") %>
    </div>
  <% end %>
  <button id="theme-toggle" class="btn">
    <i class="fas fa-moon"></i>
    <i class="fas fa-sun d-none"></i>
  </button>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
          aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a id="navbarDropdown" class="nav-link dropdown-menu-right" href="#" role="button" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
            <%= gravatar_tag current_user.email, size: 40, html: {class: "rounded-circle"} %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", user_path(current_user.username) , class: "dropdown-item" %>
            <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

        <li class="nav-item">
          <%= link_to "The Wall", root_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Gabblers", gabblers_path, class: "nav-link" %>
        </li>
        <%= render "layouts/notifications" %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
