<li class="nav-item dropdown my-auto mx-0">
  <%= link_to notifications_path, class: "nav-link dropdown-menu-right", "data-bs-toggle": "dropdown", remote: true, method: :post do %>
    <%= content_tag :span, "notifications" %>
      <% if @notifications.size > 0 %>
      <span class="badge badge-pill badge-danger notifications-count">
        <i class="fa fa-bell-o " aria-hidden="true"></i>
        <%= @notifications.size if @notifications.size > 0 %>
      </span>
      <% end %>
  <% end %>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown" data-bs-popper="static">
    <% if @notifications.size <= 0%>
      <a href="#" class="dropdown-item">
        No notifications
      </a>
    <% else %>
      <% @notifications.each do |notification| %>
        <% case notification.trackable_type %>
          <% when "Tweet" %>
              <% case notification.key when "tweet.liked" %>
                <a href="#" class="dropdown-item">
                  <%= notification.owner.username %> Liked your gabble
                </a>
              <% when "tweet.disliked" %>
                <a href="#" class="dropdown-item">
                  <%= notification.owner.username %> Disliked your gabble
                </a>
              <% when "tweet.mention" %>
                <a href="#" class="dropdown-item">
                  <%= notification.owner.username %> Mentioned you in a gabble
                </a>
              <% end %>
          <% when "Relationship" %>
            <a href="#" class="dropdown-item">
              <%= notification.owner.username %> Followed you
            </a>
         <% when "Comment" %>
            <a href="#" class="dropdown-item">
              <%= notification.owner.username %> Commented on your gabble
            </a>
          <% when "Retweet" %>
            <a href="#" class="dropdown-item">
              <%= notification.owner.username %> Retweeted your gabble
            </a>
        <% end %>
      <% end %>
    <% end %>
  </div>
</li>